<h1>Logins</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @logins.each do |login| %>
      <tr>
      <div class="row">
        <div class="col-sm-8 offset-sm-2 title-description">
          <td id="font"><%= login.email %></td>
          <td id="font"><%= login.username %></td>
          <td><%= link_to 'Show', login,class:"btn btn-sm btn-info" %></td>
          <td><%= link_to 'Edit', edit_login_path(login), class:"btn btn-sm btn-primary" %></td>
          <td><%= link_to 'Destroy', login, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %></td>
        </div>
      </div>
      <tr>
    <% end %>
  </tbody>
</table>


