<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
  document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@place.latitude%>, <%=@place.longitude%>)
  });
  </script>
<% end %>
<table class="table table-condensed">
  <thead>
    <tr>
      <%= notice %>
      
      <th id="font">Name</th> 
      <th id="font">Latitude</th>
      <th id="font">Longitude</th>
    </tr>
  </thead>
  <tbody>
    <td id="font"><%= @place.name %></td>
    <td id="font"><%= @place.latitude %></td>  
    <td id="font"><%= @place.longitude %></td>
  </tbody>
</table>
<div class="form-group row col-sm-offset-4">
  <div class = "col-sm-5">
    <%= link_to 'Edit', edit_place_path(@place), class:"btn btn-block btn-primary " %> 
    <%= link_to 'Back', places_path, class:"btn btn-success btn-block" %>
  </div>  
</div>
<p>
    <div id="map"></div>
</p>