<!DOCTYPE html>
<html>
  <head>
  <meta name='turbolinks-visit-control' content='reload'>
  ...
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAesrd8ZAcN5-MM9aveg3UDr4u8MatSR6A' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
...


    <title>LocationApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>

  <body id="body">
  <%= render 'shared/navigation' %>
  <%= render 'layouts/messages' %>
  <div class="container">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  </body>
</html>
